language: python
dist: xenial
python:
    - '3.6'
cache:
    pip: true
    directories:
        - '$HOME/.cache/pypoetry'
        - '$HOME/.cache/pre-commit'
before_install:
    - pip install pip -U
    - pip install poetry
install:
    - poetry install -v --no-dev
script:
    - pytest -q tests/
    - pre-commit run --all-files
    - pdoc3 --html --overwrite mullemeck > /dev/null 2>&1
notifications:
    slack:
        secure: Qk8PG+RUvp1ZPf5VfPPg12Vf4vzClGDBaTrQgbyGXFLAWAQpvcVWEzgDlDYpvETDWmmGmMv/OUDureRqoSN5/U3JvggK+YuJuUXT0VOamgM7UVOvNnQUD5xUbq8E/QCDB1ElKeU7UhmEP4uaclSN6JaGplofcFvf1+5QCAEaWDBna/wyO2+nOoyeNR0d5FtsWj6iiuBs4h3OLvmby9jHwByKaHfkz9ITF2R9n9Zddsr7tcAV+N1uQ8PjnS8TYKdgNQD17/Kr7ecv/e1nshknBzrB0lm8fVUq9WJG0JbNbybQzRib/tVrfr8DM8bxczNufnAw+A3Zku0oNVXq9XUHOWN6nNUhdYYlf+1VCo+qQLijBou3mGuTcU9W2Fvn86WUxY62vyAstfxwJSiqSAiFUifd2Cs8lq1rD+nZWyzUi4HRmMvo0KhXmoVmV82j3oFUeKizrisGo1PmNFuvypA+mAYO3PGs88FvFfFbRd3YZCIvhL2SdhcFUk03Czm1NmxfoIIYNTPVfcZWvuOXZ/xJV8WeChxMnC28cG2/5bqyTq2s62mENqPV6KmIXPzL+iGdQWcJWYOyP265kf1u7DzMfPyaNggOCEC6tmetjwmwQzOLpt4/0tTf2bkRaU7fyH0oWUpkoEei8hnXeo3FdRHzucdInS34h9c6MbgL29BoNeQ=
        on_success: change
        on_failure: always
deploy:
    provider: pages
    local-dir: html/mullemeck/
    skip-cleanup: true
    github-token:
        secure: Old+5mSNI4SSwm8jBXU/ehnLWLFXtDEDwJKxWS2Zb1Zsw+CUTsiLddD4u0ALRSwHLTrkfaf+Ks7iamO+eX0KCUFP1wMdTrucNDWsSJbTCYoeg+A8MWQh+Wpad1QABYB9g056xoHtp8XRhATlHKotUZ9tkhVxKDHDSIH2ncmjaeWrPIjxC2KJx8hnB1lUaZFWLuCiMRn6AMX+Eyof+OSTjLOJad0MUW+NTgUDyQo8dbl7XAVkH7UinwLBbHhi1XmYHLpt3IjeXJGZHfDI/HodBchRZyA8IJQ1RVw1UVyu4hrhtv5MEnUaOQc9Zuluf/vsEL49M+0jqafeNBfMSb4H3ks9cevXgtEJXE78t50Mq8ZHREBjfzNw9aRZ/ZVpzgWV3lDmG//bKx+IFKqmRwEnXIPC2eHD+8EoDgW1yADXVwMp1vG9yFWBNJ11ydKebkA9BuTay0Roh04FcfqTB170kaW1LYm7BRJL+HiGRxALx6vmNKDhdcVSKvVG0d/BrXfb3aKqq4fOhLRVaUHfhT0ujWo9+RiqhHDkTDneDeNdP51acR5GxN8MBr7NgjAkgnaaNH9ND3hSNTUWfFyotFfp8eer46dhwcGlutDz5R2ERiJNdo1JOwdCZW1zOTRq/Ord3JweoVvgqC0u9gp7Bbhkf2Fdd3ChhE5JgFzEHt7NFpk=
    on:
        branch: gh-pages
